.header-shadow {
  box-shadow: 0 50px 14px 0 rgba(24, 30, 73, 0),
    0 32px 13px 0 rgba(24, 30, 73, 0.01), 0 18px 11px 0 rgba(24, 30, 73, 0.05),
    0 8px 8px 0 rgba(24, 30, 73, 0.09), 0 2px 4px 0 rgba(24, 30, 73, 0.1);
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}

.scroll-lock-html {
  overflow-y: hidden;
}

.scroll-lock-body {
  overflow-y: hidden;
}

body {
  overflow-x: hidden; /* Keep this */
}

body[style*='padding-right'] {
  padding-right: 0 !important;
}

.scrollbar-hide {
  /* For Firefox */
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  /* For Chrome, Safari, and Opera */
  display: none;
  width: 0;
  height: 0;
}

.scrollbar-fade {
  scrollbar-width: none;
}

.scrollbar-fade:hover {
  scrollbar-width: thin;
}

section {
  margin: 0 auto 120px auto;
}

@media screen and (max-width: 768px) {
  section {
    margin: 0 auto 80px auto;
  }
}
@media screen and (max-width: 380px) {
  section {
    margin: 0 auto 60px auto;
  }
}

.hero-section .application-button:hover {
  color: #fafcf7 !important;
}

* {
  scroll-behavior: smooth;
}

@keyframes scroll-seamless-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-seamless-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.continuous-slider-slide-wrapper {
  margin-right: var(--slide-gap, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.continuous-slider-track {
  display: flex;
  width: max-content;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: var(--slider-duration, 20s);
}

.continuous-slider-track--left {
  animation-name: scroll-seamless-left;
}

.continuous-slider-track--right {
  animation-name: scroll-seamless-right;
}

.navigation-link {
  position: relative;
  padding-bottom: 4px; /* space for the underline */
}

.navigation-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #e76715;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
}

.dropdown.navigation-link {
  transform: translateY(2px);
}

.dropdown.navigation-link::after {
  transform: translateY(-2px);
}

.navigation-link:hover::after {
  left: calc(50% - 25px);
  width: 50px;
}

.footer-logo-container svg {
  width: 100%;
  height: auto;
}

.cta-icon-container svg {
  max-width: 100%;
  height: auto;
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}
.animate-slide-out {
  animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.areas-map-container svg {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
  .why-us-icon-container svg {
    width: 50px;
    height: 50px;
  }
}
