.header-shadow {
  box-shadow: 0 50px 14px 0 rgba(24, 30, 73, 0),
    0 32px 13px 0 rgba(24, 30, 73, 0.01), 0 18px 11px 0 rgba(24, 30, 73, 0.05),
    0 8px 8px 0 rgba(24, 30, 73, 0.09), 0 2px 4px 0 rgba(24, 30, 73, 0.1);
}

section {
  margin: 0 auto 120px auto;
}

.hero-section .application-button:hover {
  color: #fafcf7 !important;
}

.home-hero-mask {
  background-image: url('/images/home-hero-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

* {
  scroll-behavior: smooth;
}

.trust-badges-slider .slick-track {
  display: flex !important;
  animation: scroll 20s linear infinite; /* adjust speed here */
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10%); /* move by half since we duplicated slides */
  }
}
